<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/vendor/bootstrap.css">
	<link rel="stylesheet" href="/vendor/bootstrap-icons.css">

	<link rel="stylesheet" href="/css/style.css">

	<title>Digi-Ticket Helpdesk</title>
</head>

<body class="d-flex flex-column h-100">
	<%- include('./parts/header') %>

	<main class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-5">
				<div class="alert alert-danger" role="alert">
					<h4 class="alert-heading">
						<i class="bi bi-exclamation-octagon-fill"></i>
						Error!
					</h4>
					<p>
						<%- message %>
					</p>
					<hr>
					<p class="mb-0 text-center fw-bold">Try again or contact support</p>
				</div>
			</div>
		</div>
	</main>

	<%- include('./parts/footer') %>

	<script src="/vendor/bootstrap.js"></script>
</body>

</html>