<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #002352;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/img/logo.png" width="50" height="50">
            <b>Digi-Ticket Helpdesk</b>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="headerMenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#"><i class="bi bi-house-door"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#"><i class="bi bi-info-circle"></i> Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#"><i class="bi bi-door-open"></i> Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>